body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.recipebook {
  /* overflow-x: hidden; */
  height: 100vh;
  width: 100vw;
}

.page {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: lightseagreen;
  height: 100vh;
  width: 100vw;
  margin: 0rem;
  padding: 1rem;
  box-sizing: border-box;
}

.page>button {
  margin-top: auto;
  background-color: lightcoral;
}

.recipe {
  position: relative;
  height: 100%;
  width: 100%;
  /* margin: 0rem;
  padding: 1rem; */
  z-index: 2;
  background-color: lightcoral;
  transform: translateX(100%);
  overflow-y: scroll;
}

.index-items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.index-items > div{
  flex-basis: 50%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.index-recipes {
  list-style: none;
}

.testButton {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
}
