body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .15s ease-in;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 1.1em;
  color: #849493;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.ribbon:hover{
  font-size: 13px;
  cursor: pointer;
}

.ribbon{
  font-size: 12px;
  z-index: 3;
  position: absolute;
  top: 0;
  right: 3rem;
  margin: 3em;
  background-image: radial-gradient(circle farthest-side at center top, #FF0000 0%, #990000 100%);
  width: 4em;
  height: 10em;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

.ribbon i{
  width: 90%;
  height: 120%;
  display: block;
  margin: auto;
  z-index: 100;
  position: relative;
  border-right: dashed 0.0625em #333;
  border-left: dashed 0.0625em #333;
  overflow: hidden;
}

.ribbon>i>span{
  color: #FFF;
  display: block;
  text-align: center;
  top: 55%;
  right: 1%;
  margin-top: -2em;
  transform: rotate(-90deg);
  position: relative;
  text-shadow: 0.0625em 0.0625em 0.0625em #333;
  font-style: normal;
  font-weight: bold;
}

.ribbon>i>span>s{
  width: 0.625em;
  height: 0.625em;
  background: #424242;
  top: 55%;
  margin-top: -0.3125em;
  transform: rotate(45deg);
  display: block;
  position: absolute;
  opacity: .5;
}

.ribbon>i>span>s:nth-of-type(1){
  margin-left: -1.25em;
  left: 0;
}
.ribbon>i>span>s:nth-of-type(2){
  right: 0;
  margin-right: -1.25em;
}

.ribbon:before{
  content: "";
  position: absolute;
  bottom: -2.4em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 2.5em solid #990000;
  border-right: 2.5em solid transparent;
}
.ribbon:after{
  content: "";
  position: absolute;
  bottom: -2.4em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 2.5em solid #990000;
  border-left: 2.5em solid transparent;
}
